<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h2>User List</h2>
  <table>
    <tr>
      <th>name</th>
      <th>role</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <p>wdwqdqw</p>
    </tr>     
    <% end %>
  </table>
  </ul>
</body>
</html>